<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add  name="DefaultFilesName"
          connectionString="Data Source=Y700-15\SQLEXPRESS; Initial Catalog=OOP7; Integrated Security=True"
          providerName="System.Data.SqlClient"/>
    <add  name="MasterConnection"
      connectionString="Data Source=Y700-15\SQLEXPRESS; Initial Catalog=master; Integrated Security=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>